<%- contentFor('body') %>
<div class="jumbotron text-center">
    <h2>ASK - <%= ask.uuid %><h2>
        <% if(ask){ %>
            <h3>Dificuldade - <%= ask.difficulty %></h3>
            <div width="728">
                <br>		
                
                <% ask.questions.forEach(function(question) { 
                    if(question.language == 'en'){ %>
                    <p class="question"><b>Question: </b><i><%= question.text %></i></p>
                    <div id="answerLayer" style="visibility:hidden">
                    <p><b>Answer: </b><%= question.answer %></p>
                <% }}) %>

                </div>
                <div id="nextQuestion" style="display:none">
                <p><a href="#" onClick="window.location.href = sURL;"><b>Next question</b></a></p>
                </div>
                <div id="showPrompt" style="display:''">
                <p><a href="javascript:ShowLayer('answerLayer','visible');displayLayer('showPrompt','none');displayLayer('nextQuestion','');"><b>Reveal answer</b></a></p>
            </div>
          <% } else{ %>  
            <h1>não foram encontrados registros ;-;</h1>
         <% } %>
    
</div>